@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* :root{
    --background-color: #ffffff;
    --text-color: #000000;
    --scroll-background-color: rgb(234, 224, 224);
    --scroll-inner-color: rgb(139, 137, 137);
    --share-like-background:  rgb(212, 211, 211, 0.4);
    --subscribe-color: black;
  }
  
  :root[data-theme='dark'] {
    --background-color: #141010;
    --text-color: #ffffff;
    --scroll-background-color: rgb(52, 51, 51);
    --scroll-inner-color: rgb(95, 93, 93);
    --share-like-background:  rgb(93, 91, 91, 0.4);
    --subscribe-color: #e9e7e7;
  } */

.body{
  height: 100vh !important;
  overflow: hidden;
  background-color: var(--background-color);
  /* overflow-y: auto; */
  /* background-color: blue; */
}
.container{
    /* display: flex !important;
    justify-content: center !important; 
    background-color: yellowgreen;
    overflow-y: auto; */
    /* height: 50vh !important; */
    /* padding: 0px 0px 1000px 0px; */
    /* margin-bottom: 700px; */

    /* padding-bottom: 1000px; */
    /* overflow-y: scroll; */
    /* height: auto; */
    /* min-height: 100vh; */
    /* background-color:  yellow; */
    display: flex;
    justify-content: center !important; 
    width: 100vw;
    /* min-height: 100vh; */
    /* overflow-y: auto; */
    overflow: hidden;
    /* padding: 0px 10px 300px 10px;
    overflow-y: auto; */
    /* background-color: blue; */
    /* padding: 10px 10px 100px 10px; */
    /* padding-top: 10px; */

}

.left-new {
    /* width: 65vw;
    display: flex;
    justify-content: flex-end; */
    /* flex-direction: column; */

    /* padding: 0px 20px 0px 20px; */
    /* padding-top: 0px; */
    /* background-color: green; */
    /* overflow-y: auto; */

    /* background-color: brown; */
    width: 65vw;
    /* padding: 10px 10px 10px 10px; */
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    /* padding: 0px 10px 100px 10px;
    overflow-y: auto; */


}


.package {
    width: 900px;
    /* width: 65vw; */
    display: flex;
    flex-direction: column;
    padding: 0px 10px 100px 10px;
    overflow-y: auto;

    /* background-color: red; */
    /* overflow-y: auto; */

}

.video-play {
    width: 900px;
    /* height: 500px; */
}

.title-info{
    width: 100%;
    /* width: 900px; */
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    display: flex ;
    flex-direction: column;
}
.Title{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.channel-subscribe-download{
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* padding: 10px 0px; */
   height: 40px;
   /* background-color: blue; */
   /* padding-bottom: 30px; */
   /* display: flex;
   flex-direction: column; */
   /* flex-wrap: wrap; */
   /* background-color: #FF0000; */
}
.channel-subscribe{
   width: auto;
   display: flex;
   align-items: center;
   gap: 15px;
   /* background-color: aqua; */
   /* background-color: #FF0000; */
}
.channel-img-name-subscribers{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 10px;
    /* background-color: green; */
}
.Channel-Logo{
    width: 40px;
    border-radius: 50%;
}
.channel-name-subscribers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 15vw;
    /* background-color: blue; */
}

.Channel-Name{
   font-size: 20px;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical; 
   text-overflow: ellipsis ;
   /* white-space: nowrap; */
   width: 100%; /* or a fixed width if necessary */
   display: block;

}
.subscribers{
    font-size: 13px;
}
.subscribe{
   font-size: 16px;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 30px;
   font-weight: 500;
   color: var(--background-color);
   /* background-color: #FF0000; */
   background-color: var(--subscribe-color);
}


.downloads-options{
    width: auto;
    display: flex;
    align-items: center;
    height: 40px;
    /* background-color: aqua; */
    /* opacity: 0.5; */
    /* background-color: rgb(115, 115, 179); */
    gap: 10px;
}
.like-dislike{
    background-color: var(--share-like-background);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: 40px;
    /* opacity: 0.5; */
}
.Like{
   width: 30px;
   color: var(--text-color);
   /* position: relative;
   z-index: 1; */

}
.Dislike{
    width: 30px;
    color: var(--text-color);
}
.vertical-line{
    height: 25px;
    width: 2px;
    background-color: var(--text-color);
}
.share-div{
    background-color:  var(--share-like-background);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    /* background-color: blue; */
    height: 40px;
    gap: 10px;
}
.share{
    width: 30px;
    color: var(--text-color);
}
.word-share{
    font-size: 15px;
    font-weight: 500;
}
.download-div{
    background-color: var(--share-like-background);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    /* background-color: blue; */
    height: 40px;
    gap: 5px;
    /* background-color: blue; */
}
.download{
    width: 30px;
    /* color: var(--text-color); */
    color: var(--text-color);
}

.word-download{
    font-size: 15px;
    font-weight: 500;
}
.more-vertical-div{
    background-color: var(--share-like-background);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    /* background-color: blue; */
    height: 40px;
    gap: 10px;
}
.vertical-more{
    width: 30px;
    color: var(--text-color);
}




::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-inner-color);
     cursor: pointer;
    border-radius: 6px; 
    border: 3px solid var(--scroll-background-color);

}