@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --background-color: #ffffff;
    --text-color: #000000;
    --scroll-background-color: rgb(234, 224, 224);
    --scroll-inner-color: rgb(139, 137, 137);
    --share-like-background:  rgb(212, 211, 211, 0.4);
    --subscribe-color: black;
  }
  
  :root[data-theme='dark'] {
    --background-color: #141010;
    --text-color: #ffffff;
    --scroll-background-color: rgb(52, 51, 51);
    --scroll-inner-color: rgb(95, 93, 93);
    --share-like-background:  rgb(93, 91, 91, 0.4);
    --subscribe-color: #e9e7e7;
  }

.body{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.container{
    overflow: auto;
    width: 100%;
    display: flex;
}

.left-new {
    width: 65vw;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    height: 150vh;
}


.package {
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 100px 0px;
}

.video-play {
    width: 900px;
}

.title-info{
    width: 100%;
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    display: flex ;
    flex-direction: column;
    height: auto;
}
.Title{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    pointer-events: none;
}
.channel-subscribe-download{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 40px;
   height: auto;
}
.channel-subscribe{
   width: auto;
   display: flex;
   align-items: center;
   gap: 15px;
}
.channel-img-name-subscribers{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Channel-Logo{
    width: 40px;
    border-radius: 50%;
}
.channel-name-subscribers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 15vw;
}

.Channel-Name{
   font-size: 20px;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical; 
   text-overflow: ellipsis ;
   width: 100%; 
   display: block;

}
.subscribers{
    font-size: 13px;
}
.subscribe{
   font-size: 16px;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 30px;
   font-weight: 500;
   color: var(--background-color);
   background-color: var(--subscribe-color);
}


.downloads-options{
    width: auto;
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
}
.like-dislike{
    background-color: var(--share-like-background);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: 40px;
}
.Like{
   width: 30px;
   color: var(--text-color);
   cursor: pointer;
}
.Dislike{
    width: 30px;
    color: var(--text-color);
    cursor: pointer;
}
.vertical-line{
    height: 25px;
    width: 2px;
    background-color: var(--text-color);
}
.share-div{
    background-color:  var(--share-like-background);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    gap: 10px;
}
.share{
    width: 30px;
    color: var(--text-color);
}
.word-share{
    font-size: 15px;
    font-weight: 500;
}
.download-div{
    background-color: var(--share-like-background);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    gap: 5px;
}
.download{
    width: 30px;
    color: var(--text-color);
}

.word-download{
    font-size: 15px;
    font-weight: 500;
}
.more-vertical-div{
    background-color: var(--share-like-background);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    gap: 10px;
}
.vertical-more{
    width: 30px;
    color: var(--text-color);
}

.comments{
    width: 100%;
    height: 45vh;
    background-color: var(--share-like-background);
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}
.heading{
    width: 100%;
    color: var(--text-color);
    font-size: 18px;
}
.input-container{
   height: auto;
   width: 100%;
   margin-top: 10px;
}
.text{
   width: 100%;
   background-color: rgb(52, 51, 51, 0);
   border-color: rgb(52, 51, 51, 0) rgb(52, 51, 51, 0) var(--text-color) rgb(52, 51, 51, 0);
   font-size: 14px;
}
.text5{
    width: 100%;
    background-color: rgb(52, 51, 51, 0);
    border-color: rgb(52, 51, 51, 0) rgb(52, 51, 51, 0) var(--text-color) rgb(52, 51, 51, 0);
    font-size: 14px;
}
.text::placeholder{
    color: var(--text-color);
    font-size: 14px;
}
input.text {
    color: var(--text-color); 
    padding-left: 10px;
    font-size: 14px;
}
.actions{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-right: 5px;
}
.cancel{
   border-radius: 10px;
   padding: 5px;
   cursor: pointer;
   font-size: 14px;
}
.comment{
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
   font-size: 14px;
}
.available-comments{
    width: 100%;
    word-wrap: break-word;
    font-size: 14px;
    margin-top: 10px;
    height: 60%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-inner-color);
     cursor: pointer;
    border-radius: 6px; 
    border: 3px solid var(--scroll-background-color);

}

.arrow-down{
    display: none;
    width: 100%;
    height: 40px;
}

.arrow-down-svg{
    width: 40px;
    height: 40px;
}



.cover-box {
    display: none;
    background-color: var(--comment-box);
    width: 100%;
    position: absolute;
    padding: 10px;
    overflow: hidden;
}

  


.first-Comments{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heading1{
    width: 100%;
    font-size: 18px;
    color: var(--text-color)
}
.Arrow-Down{
    width: 30px;
    height: 30px;
    color: var(--text-color);
}
.input-container1{
   height: auto;
   width: 100%;
   margin-top: 10px;
}
.text1{
   width: 100%;
   font-size: 14px;
   background-color: rgb(52, 51, 51, 0);
   border-color: rgb(52, 51, 51, 0) rgb(52, 51, 51, 0) var(--text-color) rgb(52, 51, 51, 0);
   color: var(--text-color);
   box-sizing: border-box;
   padding-left: 5px;

}
.text1::placeholder{
    font-size: 14px;
    color: var(--text-color);
}
input.text1{
    font-size: 14px;
    color: var(--text-color);
}

.actions1{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
}
.cancel1{
   background-color: white;
   border-radius: 10px;
   padding: 5px;
   font-size: calc(var(--pecentage2)*14);
   color: black;
}
.comment1{
   background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    color: black;
}
.available-comments1{
    margin-top: 10px;
    width: 100%;
    height: 75%;
    font-size: 14px;
    color: var(--text-color);
    overflow-y: auto;
}


.commentElementBox{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom:  10px;
}

.commentElementBox1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom:  10px;
}

.comment-item{
    width: 95%;
    align-self: flex-end;
    word-wrap: break-word;
}
.comment-item1{
    word-wrap: break-word;
    align-self: flex-end;
    width: 85%;
}

.logo{
    background-color: rgb(235, 93, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
    margin-right: 10px;
}